apiVersion: apps/v1
kind: Deployment
metadata:
  name: pyflaskdockerapp-deployment
spec:
  replicas: 4
  selector:
    matchLabels:
      app: pyflaskdockerapp
  template:
    metadata:
      labels:
        app: pyflaskdockerapp
    spec:
      containers:
      - name: pyflaskdockerapp
        image: shubhamdhole97/custom-img-pyapp:10.0.0
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
