apiVersion: v1
kind: Service
metadata:
  name: pyflaskdockerapp-service
spec:
  selector:
    app: flaskdockek8s
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
  type: LoadBalancer  # You can also use NodePort, ClusterIP based on your needs
